<html>
<head>
<p style="text-align:center;"></p>
<style>
button{
  background-color:blue;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border: none;

 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
</style>
</head>
<body>

<!--First section-->
<div style="background-image: url('/static/veni2.jpg');
background-size: cover; height:480px; padding-top: 80px; text-align: center;">
  <h1 style="font-size:50px; color:white; margin:10px;">BANKING SOLUTIONS</h1>
  <p style="font-size:30px; color: white;"><em>Loan Prediction is very common real-life problem that each retail bank faces at least once
                                                 in its lifetime.If done correctly,it can save a lot of man-hours at the end of a retail bank.</em></p>
 <a href="/submit"> <button class="font-size: 20px; background color:blue;">Click Me! to Predict</button></a>

</div>
</body>
</html>